{% extends "layout.html" %}

{% block title %}Clientes - PerfumEasy{% endblock %}

{% block page_css %}
    <!-- Archivo CSS específico para la página del dashboard -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clientes.css') }}">
{% endblock %}

<!-- Contenedor principal -->
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Barra lateral -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <!-- Usamos url_for para generar las URLs de manera dinámica -->
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard.index') }}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('productos.index') }}">Productos</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{{ url_for('clientes.index') }}">Clientes</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('empleados.index') }}">Empleados</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('facturas.index') }}">Facturas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('transacciones.index') }}">Transacciones</a></li>
                        <!-- Añadir rutas para Reportes y Configuración cuando estén implementadas -->
                        <li class="nav-item"><a class="nav-link" href="#">Reportes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Configuración</a></li>
                        <li class="nav-item"><a id="logout" class="nav-link" href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                    </ul>
                </div>
            </nav>

            <!-- Contenido principal -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <h1 class="h2">Listado de Clientes</h1>
                <div class="row mb-3">
                    <!-- Buscador y Filtros -->
                    <div class="col-md-4">
                        <input type="text" id="search" class="form-control" placeholder="Buscar clientes...">
                    </div>
                                        
                </div>

                <!-- Opciones de Gestión -->
                <div class="row mb-3">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-success" onclick="openClientModal()">Añadir Cliente</button>
                    </div>
                </div>

                <!-- Listado de Clientes -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-clientes table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Número de Teléfono</th>
                                        <th>Contacto</th>
                                        <th>Historial de Compras</th>
                                        <th>Preferencias</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="clientTable">
                                    <!-- Aquí se llenará dinámicamente con clientes -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Modal para Añadir/Editar Cliente -->
    <div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="clientModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clientModalLabel">Añadir Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="clientForm">
                        <!-- Campo para el tipo de documento -->
                        <div class="form-group">
                            <label for="clientTipoDoc">Tipo de Documento</label>
                            <select class="form-control" id="clientTipoDoc" required>
                                <option value="">Seleccione un tipo de documento</option>
                                <option value="CC">Cédula de Ciudadanía (CC)</option>
                                <option value="TI">Tarjeta de Identidad (TI)</option>
                                <option value="CE">Cédula de Extranjería (CE)</option>
                                <option value="PP">Pasaporte (PP)</option>
                                <option value="PEP">Permiso Especial de Permanencia (PEP)</option>
                            </select>
                        </div>

                        <!-- Campo para el número de documento -->
                        <div class="form-group">
                            <label for="clientCedula">Número de Documento</label>
                            <input type="text" class="form-control" id="clientCedula" required>
                        </div>
                        
                        <!-- Campo para el nombre del cliente -->
                        <div class="form-group">
                            <label for="clientName">Nombre</label>
                            <input type="text" class="form-control" id="clientName" required>
                        </div>
                        <div class="form-group">
                            <label for="clientPhone">Número de Teléfono</label>
                            <input type="tel" class="form-control" id="clientPhone" required>
                        </div>
                        <!-- Campo para el contacto del cliente -->
                        <div class="form-group">
                            <label for="clientContact">Correo Electrónico</label>
                            <input type="text" class="form-control" id="clientContact" required>
                        </div>
                        <!-- Campo para historial de compras -->
                        <div class="form-group">
                            <label for="clientHistory">Historial de Compras</label>
                            <textarea class="form-control" id="clientHistory" rows="3" readonly
                                      placeholder="El historial se actualizará automáticamente con las compras realizadas"></textarea>
                        </div>
                        
                        <!-- Campo para las preferencias del cliente -->
                        <div class="form-group">
                            <label for="clientPreferens">Producto Más Comprado</label>
                            <input type="text" class="form-control" id="clientPreferens" readonly
                                   placeholder="Se calculará automáticamente según el historial"></input>
                        </div>
                        
                        <!-- Botón para guardar el cliente -->
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_js %}
    <!-- Archivo JS específico para productos -->
    <script src="{{ url_for('static', filename='js/clientes.js') }}"></script>
    
    <script>
        function cerrarSesion() {
            // Lógica para limpiar datos de sesión
            window.location.href = '/';
        }
    </script>
{% endblock %}