/* Archivo: empleados.css */

/* Estilo básico para el contenedor principal */
.container-fluid {
    padding: 20px;
}
/* Título principal de la sección */
h1.h2 {
    margin-bottom: 20px;
}
/* Estilo para la barra lateral */
.sidebar {
    background-color: #edf9fb;
    color: black; /* Texto negro */
    padding-top: 20px; /* Espaciado superior para bajar las clases */
    
}

.sidebar .nav-link {
    color: rgb(18, 17, 17); /* Texto blanco */
    margin-bottom: 10px; /* Espaciado inferior entre enlaces */
}

.sidebar .nav-link.active {
    font-weight: bold;
    background-color: #a9c9ff; /* Color de fondo más intenso para el enlace activo */
    border-radius: 5px; /* Bordes redondeados */
}




/* Estilos básicos para la tabla de empleados */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/* Encabezado de la tabla */
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

/* Alinear las acciones en una sola línea */
.table .btn {
    margin-right: 5px;
}

/* Estilos para el buscador */
#search {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* Botones de acciones */
.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Botones de gestión */
#employeeForm button {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

/* Estilos del modal para añadir/editar empleado */
.modal-content {
    padding: 1rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    margin: 0;
    line-height: 1.5;
}

.modal-body .form-group {
    margin-bottom: 1rem;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
