/* Archivo: clientes.css */

/* Ajustes de ancho para columnas específicas */
.table-clientes th:nth-child(1),
.table-clientes td:nth-child(1) {
    width: 9%;
    text-align: center;
}

.table-clientes th:nth-child(2),
.table-clientes td:nth-child(2) {
    width: 14%;
    text-align: center;
}

.table-clientes th:nth-child(5),
.table-clientes td:nth-child(5) {
    width: 19%;
    text-align: center;
}

.table-clientes th:nth-child(7),
.table-clientes td:nth-child(7) {
    width: 18%;
    text-align: center;
    white-space: nowrap;
}

/* Estilo para el formulario dentro del modal */
#clientForm .form-group {
    margin-bottom: 15px;
}

/* Ajuste para el título del modal */
.modal-title {
    font-size: 20px;
    margin-bottom: 10px;
}
