/* Estilos para el modal de factura */
.modal-header {
    background-color: #007bff;
    color: white;
}

/* Estilos para el formulario de creación de facturas */
#facturaForm .form-group label {
    font-weight: bold;
}

/* Ajuste del ancho de las columnas en la tabla */
.producto-row .form-group {
    padding-right: 5px;
    padding-left: 5px;
}

/* Estilos para los inputs del formulario */
#facturaForm input, #facturaForm select {
    margin-bottom: 10px;
}

/* Estilos para la tabla de productos dentro del formulario de factura */
.table-productos th, .table-productos td {
    padding: 10px;
    text-align: center;
}

.table-productos tfoot td {
    font-weight: bold;
}

/* Estilos para el botón de agregar producto */
#agregarProductoBtn {
    margin-bottom: 20px;
    background-color: #28a745;
    color: white;
}

/* Estilos para el total a pagar en letras */
#totalEnLetras {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

