/* Estilos generales para la sección de facturas */
body {
    background-color: #f8f9fa;
}

/* Estilos para el contenedor principal */
.container-fluid {
    padding: 20px;
}
/* Título principal de la sección */
h1.h2 {
    margin-bottom: 20px;
}
/* Estilo para la barra lateral */
.sidebar {
    background-color: #edf9fb;
    color: black; /* Texto negro */
    padding-top: 20px; /* Espaciado superior para bajar las clases */
    
}

.sidebar .nav-link {
    color: rgb(18, 17, 17); /* Texto blanco */
    margin-bottom: 10px; /* Espaciado inferior entre enlaces */
}

.sidebar .nav-link.active {
    font-weight: bold;
    background-color: #a9c9ff; /* Color de fondo más intenso para el enlace activo */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos básicos para la tabla */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/* Estilos para el encabezado de la tabla de facturas */
thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: black;
    text-align: center;
}

/* Estilos para las filas de la tabla de facturas */
tbody tr {
    text-align: center;
}

/* Estilos para los botones de gestión */
.btn-warning {
    margin-right: 5px;
}

/* Estilos para el modal de factura */
.modal-header {
    background-color: #007bff;
    color: white;
}

/* Estilos para el formulario de creación de facturas */
#facturaForm .form-group label {
    font-weight: bold;
}

/* Ajuste del ancho de las columnas en la tabla de productos */
.producto-row .form-group {
    padding-right: 5px;
    padding-left: 5px;
}

/* Estilos para los inputs del formulario */
#facturaForm input, #facturaForm select {
    margin-bottom: 10px;
}

/* Estilos para la tabla de productos dentro del formulario de factura */
.table-productos th, .table-productos td {
    padding: 10px;
    text-align: center;
}

.table-productos tfoot td {
    font-weight: bold;
}

/* Estilos para el buscador */
#search {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* Estilos para el botón de agregar producto */
#agregarProductoBtn {
    margin-bottom: 20px;
    background-color: #28a745;
    color: white;
}

/* Estilos para el total a pagar en letras */
#totalEnLetras {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

/* Estilos responsivos */
@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

