/* productos.css - Estilos específicos para productos */

/* Reducir el ancho de la columna 'Acciones' */
.table th:nth-child(6),
.table td:nth-child(6) {
    width: 20%;
    text-align: center;
}

/* Estilo para el formulario de producto */
#productForm .form-group {
    margin-bottom: 15px;
}

/* Estilo para el título del modal */
.modal-title {
    margin: 0 auto;
}

/* Estilo para el buscador y filtros específicos de productos */
#generoFilter,
#priceFilter {
    margin-bottom: 10px;
}