<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/login.css" rel="stylesheet" >
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row w-100">
            <div class="col-md-5 mx-auto">
                <div class="text-center mb-4">
                    <img src="../assets/images/logo.jpeg" alt="Logo" class="img-fluid d-block mx-auto">
                 
                </div>
                <form id="loginForm">
                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control" required placeholder="Ingresa tu usuario">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control" required placeholder="Ingresa tu contraseña">
                    </div>
                    <button type="button" class="btn btn-primary btn-block" onclick="authenticate()">Ingresar</button>
                </form>
                <div class="text-center mt-3">
                    <a href="/forgot-password" class="text-primary" style="text-decoration: underline;">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../assets/js/login.js"></script>
</body>
</html>
